<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pandemonium - Get Meme Inspiration!</title>
</head>
<body>

    {% extends "bootstrap/base.html" %}

    {% block content %}
        <h1> Welcome to Pandemonium! </h1> 
        <br> <br>
        <p> Find inspiration for your next great meme creation! </p>

        <img src = {{ image_url }}>
    {% endblock %}

</body>
</html>