<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://storage.googleapis.com/openscreenshot/S%2Fa%2F7/mwBI9V7aS.png">
    <title>Pandemonium - Get Meme Inspiration!</title>
</head>
<body>
    {% extends "bootstrap/base.html" %}

    {% block styles %}
        {{super()}}
        <link rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}">

            <div class="centered-content">
                    <h1> Welcome to Pandemonium! </h1> <br><br>
                    <p> Find inspiration for your next great meme creation! </p> <br><br>
                    <img src = {{ image_url }}>
            </div>
    
    {% endblock %}

</body>
</html>